@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

body {
    margin: 0;
    font-size: 18px;
    font-family: "Roboto Mono";
    background: Azure;
}

#calculator {
    margin: auto;
    margin-top: 10%;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 3em #cdcdcd;
}

header {
    padding: 20px;
    background: DarkViolet;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
}

header #detail {
    font-size: 1em;
}

header #result {
    font-size: 2em;
}

header span {
    margin-left: .5em;
    float: left;
}

main {
    height: 100%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
}

main button {
    font-size: 1.2em;
    font-family: "Roboto Mono";
    float: left;
    width: 25%;
    border: 0;
    padding: 1em;
    cursor: pointer;
    background: white;
}

main button:hover {
    background: #cdcdcd;
}

main button:focus {
    outline: none;
}

main button:active {
    box-shadow: 0 0 10px #cdcdcd;
}
